.task-container {
	position: relative;
	margin: 1rem;
	margin-bottom: 2rem;

	.task-header {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;

		label {
			width: calc(100% - 8rem);
			word-break: break-all;
		}
	}

	ul {
		list-style-type: none;

		li {
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	p {
		margin-top: 0;
		word-break: break-all;
	}
}