.MuiSlider-thumb {
	background-image: url("./fire.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 32px;
	width: 32px;
	background-color: transparent;
}
