.habit-container {
	position: relative;
	margin: 1rem;
	margin-bottom: 2rem;

	.habit-header {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;

		.habit-done {
			font-size: 0.8rem;
			opacity: 0.5;
			text-transform: uppercase;
			vertical-align: middle;
		}
	}

	p {
		margin-top: 0;
	}

	.weekly-streak-view {
		padding: 1rem 0;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;

		.streak-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			.streak-status {
				font-size: 0.8rem;
				opacity: 0.5;
				text-transform: uppercase;
				font-weight: 700;
			}
		}

		.streak-marks {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			flex-grow: 1;

			border: 2px solid;
			border-radius: 5rem;
			padding: 0.5rem 1rem;
		}
	}
}